################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/MemeMaster/v15/.suo
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
.firebase/
.firebaserc
firebase.json

/final_files
