/* Define the grid for the items in the header */
header {
    display: grid;
    grid-template-columns: [col1-start] 75% [col2-start] auto;
    grid-column-gap: 10px;
}

/* Add some design to the MemeMaster header */
h1 {
    grid-column-start: col1-start;
    color: #EEE;
    text-shadow: 4px 4px 1px #300000;
    4px 6px 1px #400000;
    4px 8px 1px #500000;
    4px 60px 5px #FF0000;
}

/* Define styling for the buttons in the header */
.redirect_buttons {
    grid-column-start: col2-start;
    margin: auto;
}

/* Align the error message to the center of the page */
.err_spacing {
    text-align: center;
    margin: 10px;
}

/* Make the error message bold and red */
output {
    font-weight: bold;
    color: red;
    font-size: medium;
}

a {
    text-decoration: none;
}



.sign_form {
    margin: auto;
}

h3 {
    text-align: center;
}

.boxed {
    padding: 10px;
    border-style: solid;
    width: 260px;
    margin: auto;
}

label {
    display: inline-grid;
    width: 70px;
    text-align: right;
}

input {
    margin-top: 7px;
    margin-bottom: 7px;
}

.blue_button {
    background-color: #1a73e8;
    border-style: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    height: 40px;
}
